
.library {
  display: inline;
}

.album-cover{
  margin-top: 20px 20px 5px 20px;
  height: 400px;
}

.album-cover:hover{
  box-shadow: 3px 3px 3px 3px #ccc;
}

.album-link {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 25px 20px 20px 20px;

}

.album-info:hover {
  font-weight: bold;
}

#album-cover {
  font-weight: bold;
  font-size: 1.5em;
}

#album-cover:hover {
  text-decoration: underline;
}
